{% extends 'users/base.html' %}

{% block content %}
    <main>
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        {% if messages or form.non_field_errors %}
                            <div class="alert
                            {% if messages %} alert-success {% else %} alert-warning {% endif %}
                            alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                {% else %}
                                {{ form.non_field_errors }}
                                {% endif %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Обратная связь</h3>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'users:contact' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for={{ form.first_name.id_for_label }}>Имя</label>
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for={{ form.last_name.id_for_label }}>Фамилия</label>
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for={{ form.contact.id_for_label }}>Сообщение</label>
                                            {{ form.content }}
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1" for={{ form.email.id_for_label }}>Адрес электронной
                                                почты</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="small mb-1" for={{ form.captcha.id_for_label }}></label>
                                            {{ form.captcha }}
                                        </div>
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <input class="btn btn-primary btn-block" type="submit" value="Отправить">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}