<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Сброс пароля</h2>
		{% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}
		<div class="form-buttons">
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{%url 'users:login' %}"  class="btn btn-outline">Назад</a>
		</div>
	</form>
	</div>
