{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {% if messages or form.non_field_errors %}
                            <div class="alert
                            {% if messages %} alert-success {% else %} alert-warning {% endif %}
                            alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                {% else %}
                                {{ form.non_field_errors }}
                                {% endif %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-3">Написать отзыв</h3>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'users:reviews' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for={{ form.name.id_for_label }}>Имя</label>
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for={{ form.star_rating.id_for_label }}>Ваша оценка:</label>
                                                {{ form.star_rating }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for={{ form.text.id_for_label }}>Написать отзыв</label>
                                            {{ form.text }}
                                        </div>
                                    </div>
                                    {{ form.captcha }}
                                    <div class="form-group mt-0 mb-0">
                                        <input class="btn btn-primary btn-block" type="submit" value="Отправить">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <section>
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-7">
      <h4>Всего комментариев: {{ count_review }}</h4>
      {% for review in reviews %}
        <div class="d-flex flex-start mb-4">
           <img width="130" height="100"
                         src="{% if review.user.image %} {{ review.user.image.url }} {% else %} {% static 'vendor/img/users/default_avatar.jpg' %}{% endif %}"
                         class="img-thumbnail">
          <div class="card w-100">
            <div class="card-body p-4">
                <div class="d-flex justify-content-between">
                <h5>{{ review.name }} ({{ review.user.username }})</h5>
              <h6>{{ review.created }}</h6>
              </div>
                <p>
                  {{ review.text }}
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                  </div>
                  <i>Оценка: {{ review.star_rating }}</i>
                  {% if user == review.user or user.is_superuser %}
                  <a href="{{ review.get_absolute_url }}"><i class="fas fa-trash"></i></a>
                  {% endif %}
                </div>
              </div>
          </div>
        </div>
{% endfor %}
{% endblock %}